# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variáveis de ambiente
.env

# Banco gerado pelo pipeline
data/database/*.db
data/database/*.sqlite
data/database/*.sqlite3

# Dados brutos gerados pela API
data/raw/**/*.json

# Dados intermediários/finais gerados
data/silver/*.csv
data/gold/*.csv

# Logs
logs/*.log

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db